
/* small phones*/
@media only screen and (max-width: 480px){


    
}


/* small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px){

body{
    font-size: 80%;
}
 
section{
    padding: 30px 0;
}

.row,
.hero-text-box{
    padding: 0 4%;
}
.col{
    width: 100%;
    margin: 0 0 4% 0;
}

 .main-nav li {
     display: block;
 }

 .main-nav li a:link,
 .main-nav li a:visited {
     display: block;
     border: 0;
     font-size: 100%;
     padding: 10px 0;
 }
.main-nav { display: none; }
.main-nav {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}
.mobile-nav-icon {display: inline-block;}


.sticky .main-nav { margin-top: 10px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 10px 0;
}
.sticky .mobile-nav-icon i {
    color: black;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

h1{
    font-size: 180%;
}
h2{
    font-size: 150%;
}

.long-copy{
    width: 100%;
    margin-left: 0%;
}
.works-step {margin-bottom: 20px;}
     .works-step:last-child {margin-bottom: 20px;}

.works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    
.steps-box:first-child{
    text-align: center;
}
.app-screen{
    margin-right: 150px;
    width: 40%;
}
}







/* small tablets to big tablets: from 768px  to 1023px */
@media only screen and (max-width: 1023px){
   body {font-size: 90%;}
   section {padding: 60px 0;}

   .long-copy {
       width: 80%;
       margin-left: 10%;
          }

    .steps-box {margin-top: 10px;}
    .steps-box:last-child {margin-top: 10px;}
     .works-step {margin-bottom: 30px;}
    
     .works-step:last-child {margin-bottom: 60px;}
     .app-screen{
         
         width: 50%;
         text-align: center;
     }
     
     .icon-small{
         width: 17px;
         margin-right: 5px;}

     .plan-box{
         width: 100%;
         margin-left: 0%;
     }

     .plan-price {
         font-size: 250%;}
     .contact-form{
         width: 80%;
     }
     .city-feature{font-size:90%;}
     
     
     
     
     }      



/* big tablets to 1200px: from 1023px  to 1200px */
@media only screen and (max-width: 1200px){

.hero-text-box{
   
    width: 100%;
    padding: 0 2%;
    
    }
    .row{
        padding: 0 2%;
    }
}